*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

/* Initial Configuration */

body {
    font-family: 'Roboto', sans-serif;
    background-color: hsla(60, 3%, 6%, 0.943);
    color: white;
}

/* Title Layer of the Website */
.rps-title {
    display: flex;
    justify-content: center;
    padding: 2rem;
    background-color: #AF8F6F;
    background-color: hsl(0, 100%, 4%);

}

.header-font,
.title-font {
    font-family: Arial, sans-serif;
    color: hsl(53, 99%, 50%);
}

.title-font {
    font-size: 3em;
}

/* Second Layer of the Website */

.container {
    padding: 2rem;
}

.scoreboard {
    margin-bottom: 2em;
}

.scores-container {
    display: flex;
    justify-content: center;
}

.scoreboard .header-font {
    display: flex;
    margin-bottom: 0.5em;
    justify-content: center;
}

.score-card {
    background-color: hsla(0, 9%, 43%, 0.793);
    margin: 2em;
    height: 15rem;
    width: 13rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.score-image {
    font-size: 8em;
    margin-bottom: 0.12;
}

.rps-choices {
    display: flex;
    justify-content: center;
    align-items: center;
}

#rockBtn,
#paperBtn,
#scissorsBtn {
    background-color: hsla(0, 9%, 43%, 0.793);
    font-family: 'Roboto', sans-serif;
    color: white;
    border: none;
    border-radius: 2em;
    margin: 2em;
    height: 8rem;
    width: 8rem;
}

.choice-image {
    font-size: 5em;
}